@charset "utf-8";
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

$page_width:1226px;
$page_container:100%;
$font_color_gary:#b0b0b0;
$font_color_white:#fff;
$font_color_orange:#ff6700;
$font_color_bg:#f5f5f5;
$font_size:12px;

$colors:(a:#ead,b:#df3,c:#6d2,d:#3fc,e:#937,f:#d50,g:#4c9);
@mixin bordertop($color:#abcdef, $width:1px,$style:solid){
    border-top: $style $width $color;
}

%box1{//??
    width:$page_width;
    height: 100px;
    margin: 0 auto;
}

%box2{//100%
    width:$page_container;
    height: 100px;
}

@import "header";
@import "nav";
@import "adv1";
@import "section_1";
@import "adv";
@import "section_2";
@import "main";
@import "footer";
@import "section_8";

*{
    box-sizing: border-box;
}

.clear::after{
    content: ' ';
    display: block;
    overflow: hidden;
    height: 0;
    visibility: hidden;
    clear: both;
}

#lunbot{
    @extend %box1;
    background: map-get($colors,e);
}
