/* line 5, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/index1.scss */
#nav .content, #adv1, #lunbot, #section_1 .content, #section_2 .content, .section_3 .content, #section_8 .content, #section_8 ul {
  width: 1226px;
  height: 100px;
  margin: 0 auto;
}

/* line 25, ../sass/index1.scss */
#nav, #section_1, .adv, #section_2, .section_3, #footer, #pageFoot, #section_8 {
  width: 100%;
  height: 100px;
}

/* line 1, ../sass/_header.scss */
#header {
  background: #333;
}
/* line 3, ../sass/_header.scss */
#header .center {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
}
/* line 7, ../sass/_header.scss */
#header .center .left {
  float: left;
}
/* line 10, ../sass/_header.scss */
#header .center .right {
  float: right;
  margin-right: 20px;
}
/* line 15, ../sass/_header.scss */
#header .cart {
  float: right;
  width: 120px;
  height: 40px;
  text-align: center;
  background: #424242;
  position: relative;
}
/* line 22, ../sass/_header.scss */
#header .cart span {
  color: #b0b0b0;
  margin-top: -2px;
}
/* line 26, ../sass/_header.scss */
#header .cart i {
  color: #b0b0b0;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
/* line 32, ../sass/_header.scss */
#header .cart .goods {
  display: none;
  width: 316px;
  background: white;
  position: absolute;
  z-index: 100;
  font-size: 12px;
  box-shadow: 0 0 5px 1px #ccc;
  top: 40px;
  right: 0;
  line-height: 100px;
  text-align: center;
}
/* line 46, ../sass/_header.scss */
#header a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 40px;
  line-height: 40px;
  color: #b0b0b0;
  font-size: 10px;
  text-decoration: none;
}
/* line 54, ../sass/_header.scss */
#header a:hover {
  color: #fff;
}
/* line 57, ../sass/_header.scss */
#header span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #424242;
  margin: 0 2px;
}
/* line 62, ../sass/_header.scss */
#header .erweima {
  position: relative;
}
/* line 64, ../sass/_header.scss */
#header .erweima > div {
  display: none;
  width: 124px;
  height: 148px;
  box-shadow: 0 0 5px 1px #ccc;
  position: absolute;
  z-index: 100;
  top: 40px;
  left: -34px;
  padding: 17px;
  background: #fff;
}
/* line 75, ../sass/_header.scss */
#header .erweima > div img {
  width: 90px;
  height: 90px;
  display: block;
}
/* line 80, ../sass/_header.scss */
#header .erweima > div .sanjiao {
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -20px;
  left: 50px;
}
/* line 90, ../sass/_header.scss */
#header .erweima > div span {
  color: #333;
  font-size: 14px;
  text-align: center;
}

/* line 2, ../sass/_nav.scss */
#nav {
  position: relative;
}
/* line 5, ../sass/_nav.scss */
#nav .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 12, ../sass/_nav.scss */
#nav .logo {
  overflow: hidden;
  background: #ff6700;
  width: 55px;
  height: 55px;
  text-indent: -9999px;
  position: relative;
}
/* line 19, ../sass/_nav.scss */
#nav .logo img {
  position: absolute;
  top: 0;
  width: 100%;
  transition: 0.3s;
}
/* line 25, ../sass/_nav.scss */
#nav .logo img:first-child {
  left: -100%;
}
/* line 28, ../sass/_nav.scss */
#nav .logo img:last-child {
  left: 0;
}
/* line 33, ../sass/_nav.scss */
#nav .logo:hover img:first-child {
  left: 0;
}
/* line 36, ../sass/_nav.scss */
#nav .logo:hover img:last-child {
  left: 100%;
}
/* line 40, ../sass/_nav.scss */
#nav .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 45, ../sass/_nav.scss */
#nav .nav-list li {
  padding: 0 5px;
  height: 100%;
  color: #333;
  height: 100px;
  line-height: 100px;
  cursor: pointer;
}
/* line 53, ../sass/_nav.scss */
#nav .nav-list li:hover {
  color: #ff6700;
}
/* line 57, ../sass/_nav.scss */
#nav form {
  width: 296px;
  height: 50px;
  position: relative;
}
/* line 58, ../sass/_nav.scss */
#nav form input {
  outline: none;
  border: 0;
  border: 1px solid #b0b0b0;
  background: transparent;
}
/* line 67, ../sass/_nav.scss */
#nav form input[type="submit"] {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* line 75, ../sass/_nav.scss */
#nav form input[type="text"] {
  width: 247px;
  height: 50px;
}
/* line 79, ../sass/_nav.scss */
#nav form .iconfont {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  color: #333;
  text-align: center;
  transition: 0.3s;
}
/* line 93, ../sass/_nav.scss */
#nav form div:hover .iconfont {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
}
/* line 98, ../sass/_nav.scss */
#nav form span {
  display: block;
  position: absolute;
  top: 15px;
  left: 60px;
  font-size: 12px;
  color: #333;
  background: #eee;
  height: 18px;
  padding: 0 5px;
  line-height: 18px;
  transition: 0.3s;
  cursor: pointer;
}
/* line 112, ../sass/_nav.scss */
#nav form span:last-child {
  left: 150px;
}
/* line 115, ../sass/_nav.scss */
#nav form span:hover {
  color: #fff;
  background: #ff6700;
}
/* line 120, ../sass/_nav.scss */
#nav .nav-good {
  background: #fff;
  width: 100%;
  border-top: 1px solid #b0b0b0;
  box-shadow: 0 3px 5px 1px #ccc;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 10;
  display: none;
  height: 201px;
}
/* line 131, ../sass/_nav.scss */
#nav .nav-good .nav-goods-content {
  width: 1226px;
  margin: 0 auto;
  background: #fff;
  display: none;
}
/* line 137, ../sass/_nav.scss */
#nav .nav-good li {
  width: 204px;
  height: 201px;
  padding: 35px 12px 0;
  float: left;
  position: relative;
  text-align: center;
}
/* line 145, ../sass/_nav.scss */
#nav .nav-good a {
  text-decoration: none;
}
/* line 148, ../sass/_nav.scss */
#nav .nav-good img {
  width: 160px;
  height: 110px;
}
/* line 152, ../sass/_nav.scss */
#nav .nav-good .title {
  color: #333;
}
/* line 155, ../sass/_nav.scss */
#nav .nav-good .price {
  color: #ff6700;
}
/* line 158, ../sass/_nav.scss */
#nav .nav-good li:nth-child(-n+5):after {
  content: ' ';
  width: 1px;
  height: 100px;
  background: #eee;
  position: absolute;
  top: 35px;
  right: 0;
}

/* line 1, ../sass/_adv1.scss */
#adv1 {
  height: 170px;
  margin: 14px auto;
}
/* line 5, ../sass/_adv1.scss */
#adv1 i {
  width: 26px;
  height: 25px;
  margin: 0 26px;
  text-align: center;
}
/* line 12, ../sass/_adv1.scss */
#adv1 .iconfont {
  font-size: 24px;
}
/* line 15, ../sass/_adv1.scss */
#adv1 li:hover a {
  color: #fff;
  transition: 0.5s;
}
/* line 19, ../sass/_adv1.scss */
#adv1 li:hover {
  color: #fff;
  transition: 0.5s;
}
/* line 23, ../sass/_adv1.scss */
#adv1 li {
  float: left;
  width: 76px;
  height: 85px;
  padding: 20px 3px;
  position: relative;
}
/* line 29, ../sass/_adv1.scss */
#adv1 li > a {
  font-size: 14px;
  margin-top: 10px;
  width: 75px;
  color: #aaa;
  text-decoration: none;
  display: block;
  text-align: center;
}
/* line 39, ../sass/_adv1.scss */
#adv1 li::before {
  content: "";
  width: 64px;
  display: block;
  height: 1px;
  background: #665e57;
  margin-left: 5px;
  position: absolute;
  top: 0;
}
/* line 49, ../sass/_adv1.scss */
#adv1 li::after {
  content: "";
  height: 64px;
  display: block;
  width: 1px;
  margin-top: 8px;
  background: #665e57;
  position: absolute;
  top: 0;
}
/* line 59, ../sass/_adv1.scss */
#adv1 .miaosha {
  width: 234px;
  height: 170px;
  float: left;
  background: #5f5750;
}
/* line 65, ../sass/_adv1.scss */
#adv1 .cc9_note8_sh4 {
  float: right;
}
/* line 67, ../sass/_adv1.scss */
#adv1 .cc9_note8_sh4 a {
  display: block;
  float: left;
  margin-left: 15px;
}
/* line 72, ../sass/_adv1.scss */
#adv1 .cc9_note8_sh4 img {
  width: 316px;
  height: 170px;
}
/* line 77, ../sass/_adv1.scss */
#adv1 a:first-child {
  margin-left: 0;
}

/* line 1, ../sass/_lunbot.scss */
#lunbot {
  height: 460px;
  position: relative;
}
/* line 5, ../sass/_lunbot.scss */
#lunbot .lunbot {
  width: 100%;
  overflow: hidden;
}
/* line 9, ../sass/_lunbot.scss */
#lunbot .lun-list {
  width: 6130px;
}
/* line 11, ../sass/_lunbot.scss */
#lunbot .lun-list img {
  width: 1226px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* line 18, ../sass/_lunbot.scss */
#lunbot .lun-list img:first-child {
  display: block;
}
/* line 25, ../sass/_lunbot.scss */
#lunbot .lunbot .iconfont {
  position: absolute;
  width: 41px;
  height: 69px;
  top: 220px;
  display: block;
  font-size: 34px;
  line-height: 69px;
  text-align: center;
  color: #ccc;
}
/* line 35, ../sass/_lunbot.scss */
#lunbot .lunbot .iconfont:hover {
  color: #fff;
  background: rgba(141, 38, 38, 0.5);
}
/* line 40, ../sass/_lunbot.scss */
#lunbot .lunbot .icon-fenye-xiayiye {
  right: 0;
}
/* line 45, ../sass/_lunbot.scss */
#lunbot .icon-shangyiye {
  left: 234px;
}
/* line 49, ../sass/_lunbot.scss */
#lunbot .ollsit {
  position: absolute;
  bottom: 20px;
  right: 35px;
}
/* line 53, ../sass/_lunbot.scss */
#lunbot .ollsit li {
  float: left;
  background: #666;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px #333;
  margin: 0 3px;
  padding: 2px;
  cursor: pointer;
}
/* line 63, ../sass/_lunbot.scss */
#lunbot .ollsit li:first-child {
  background: #aaa;
}
/* line 66, ../sass/_lunbot.scss */
#lunbot .ollsit li:hover {
  background: #aaa;
}
/* line 71, ../sass/_lunbot.scss */
#lunbot .classify-list {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.5);
  height: 100%;
  width: 234px;
  padding: 20px 0;
}
/* line 79, ../sass/_lunbot.scss */
#lunbot .classify-list .list {
  height: 42px;
  line-height: 42px;
  padding: 0 25px;
}
/* line 84, ../sass/_lunbot.scss */
#lunbot .classify-list .list:hover {
  background: #ff6700;
}
/* line 86, ../sass/_lunbot.scss */
#lunbot .classify-list .list:hover .list-2F {
  display: block;
}
/* line 90, ../sass/_lunbot.scss */
#lunbot .classify-list .anchor-point {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 14px;
}
/* line 99, ../sass/_lunbot.scss */
#lunbot .classify-list .iconfont {
  position: absolute;
  top: 3px;
  right: 10px;
}
/* line 105, ../sass/_lunbot.scss */
#lunbot .list-2F {
  display: none;
  width: 992px;
  height: 460px;
  position: absolute;
  top: 0;
  left: 234px;
  background: white;
  box-shadow: 0 0 5px 1px #ccc;
}
/* line 114, ../sass/_lunbot.scss */
#lunbot .list-2F ul {
  width: 248px;
  height: 100%;
  float: left;
}
/* line 119, ../sass/_lunbot.scss */
#lunbot .list-2F li {
  padding: 18px 20px;
  width: 265px;
  height: 76px;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}
/* line 127, ../sass/_lunbot.scss */
#lunbot .list-2F li:hover {
  color: #ff6700;
}
/* line 130, ../sass/_lunbot.scss */
#lunbot .list-2F img {
  vertical-align: middle;
}
/* line 133, ../sass/_lunbot.scss */
#lunbot .list-2F span {
  display: inline-block;
  vertical-align: middle;
}

/* line 1, ../sass/_section_1.scss */
#section_1 {
  background: #f5f5f5;
  height: 400px;
}
/* line 8, ../sass/_section_1.scss */
#section_1 .top {
  height: 60px;
}
/* line 10, ../sass/_section_1.scss */
#section_1 .top .title {
  float: left;
}
/* line 13, ../sass/_section_1.scss */
#section_1 .top h2 {
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  font-weight: 100;
}
/* line 20, ../sass/_section_1.scss */
#section_1 .button {
  float: right;
  width: 72px;
  height: 24px;
  margin-top: 24px;
}
/* line 25, ../sass/_section_1.scss */
#section_1 .button i {
  width: 36px;
  height: 24px;
  display: block;
  float: left;
  border: 1px solid #ccc;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #b0b0b0;
  transition: 0.2s;
}
/* line 37, ../sass/_section_1.scss */
#section_1 .button :hover {
  color: #ff6700;
}
/* line 40, ../sass/_section_1.scss */
#section_1 .button .icon-fenye-xiayiye {
  margin-left: -1px;
}
/* line 44, ../sass/_section_1.scss */
#section_1 .daojishi {
  width: 234px;
  height: 340px;
  background: #f1eded;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid red;
}
/* line 54, ../sass/_section_1.scss */
#section_1 .daojishi img {
  margin: 30px 0;
}
/* line 57, ../sass/_section_1.scss */
#section_1 .daojishi p {
  color: #b0b0b0;
  margin-bottom: 20px;
}
/* line 62, ../sass/_section_1.scss */
#section_1 .daojishi span:nth-child(2n-1) {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background: #605751;
}
/* line 70, ../sass/_section_1.scss */
#section_1 .daojishi span:nth-child(2n) {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 5px;
  height: 46px;
  line-height: 46px;
  font-size: 24px;
}
/* line 78, ../sass/_section_1.scss */
#section_1 .changci {
  text-align: center;
  font-size: 20px;
  color: #ef3a3b;
}
/* line 83, ../sass/_section_1.scss */
#section_1 .bottom {
  display: flex;
  flex-direction: row;
}
/* line 86, ../sass/_section_1.scss */
#section_1 .bottom .ov {
  width: 978px;
  height: 340px;
  overflow: hidden;
  margin-left: 14px;
  position: relative;
}
/* line 94, ../sass/_section_1.scss */
#section_1 ul {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 978px;
  height: 340px;
  font-size: 14px;
}
/* line 101, ../sass/_section_1.scss */
#section_1 ul a {
  display: flex;
  flex-direction: column;
  width: 234px;
  height: 340px;
  background: #fff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 14px;
  border-top: solid 1px #6d3;
}
/* line 113, ../sass/_section_1.scss */
#section_1 ul img {
  width: 160px;
  height: 160px;
  margin: 0 37px 22px;
}
/* line 118, ../sass/_section_1.scss */
#section_1 ul h3 {
  color: #333;
  width: 190px;
  height: 20px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 125, ../sass/_section_1.scss */
#section_1 ul .title {
  font-size: 12px;
  margin-bottom: 16px;
  color: #b0b0b0;
}
/* line 130, ../sass/_section_1.scss */
#section_1 ul .xianjia {
  color: #fa6509;
}
/* line 133, ../sass/_section_1.scss */
#section_1 ul .yuanjia {
  text-decoration: line-through;
  color: #b0b0b0;
}

/* line 1, ../sass/_adv.scss */
.adv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 164px;
  background: #f5f5f5;
}

/* line 2, ../sass/_section_2.scss */
#section_2 {
  background: #f5f5f5;
  height: 686px;
}
/* line 8, ../sass/_section_2.scss */
#section_2 .content li {
  transition: 0.3s;
}
/* line 11, ../sass/_section_2.scss */
#section_2 .content li:hover {
  transform: translateY(-2px);
  box-shadow: 0 -2px 5px 1px #ccc;
}
/* line 16, ../sass/_section_2.scss */
#section_2 .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 58px;
  align-items: center;
  font-size: 22px;
  font-weight: 100;
}
/* line 24, ../sass/_section_2.scss */
#section_2 .top a {
  text-decoration: none;
}
/* line 27, ../sass/_section_2.scss */
#section_2 .top .lookall {
  font-size: 18px;
  color: #b0b0b0;
  height: 30px;
  line-height: 30px;
}
/* line 33, ../sass/_section_2.scss */
#section_2 .top .lookall:hover {
  color: #ff6700;
  transition: 0.2s;
}
/* line 38, ../sass/_section_2.scss */
#section_2 .phone-adv {
  float: left;
}
/* line 40, ../sass/_section_2.scss */
#section_2 .phone-adv img {
  width: 234px;
  height: 614px;
}
/* line 45, ../sass/_section_2.scss */
#section_2 ul {
  float: right;
  width: 992px;
}
/* line 48, ../sass/_section_2.scss */
#section_2 ul li:nth-child(-n+4) {
  margin-bottom: 14px;
}
/* line 51, ../sass/_section_2.scss */
#section_2 ul li {
  width: 234px;
  height: 300px;
  padding: 20px 0;
  background: #fff;
  float: left;
  margin-left: 14px;
  text-align: center;
  font-size: 14px;
}
/* line 61, ../sass/_section_2.scss */
#section_2 ul a {
  text-decoration: none !important;
}
/* line 64, ../sass/_section_2.scss */
#section_2 ul img {
  width: 160px;
  height: 160px;
  margin: 0 37px 21px;
}
/* line 69, ../sass/_section_2.scss */
#section_2 ul h3 {
  color: #333;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 74, ../sass/_section_2.scss */
#section_2 ul .title {
  margin-bottom: 16px;
  color: #b0b0b0;
}
/* line 78, ../sass/_section_2.scss */
#section_2 ul .xianjia {
  color: #fa6509;
}
/* line 81, ../sass/_section_2.scss */
#section_2 ul .yuanjia {
  text-decoration: line-through;
  color: #b0b0b0;
}

/* line 2, ../sass/_main.scss */
.section_3 {
  background: #f5f5f5;
  height: 686px;
}
/* line 8, ../sass/_main.scss */
.section_3 .content .top-move {
  transition: 0.3s;
}
/* line 11, ../sass/_main.scss */
.section_3 .content .top-move:hover {
  transform: translateY(-2px);
  box-shadow: 0 -2px 5px 1px #ccc;
}
/* line 16, ../sass/_main.scss */
.section_3 .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 58px;
  align-items: center;
  font-size: 22px;
  font-weight: 100;
}
/* line 24, ../sass/_main.scss */
.section_3 .top .list-cut {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  width: 150px;
  align-items: center;
}
/* line 31, ../sass/_main.scss */
.section_3 .top li {
  margin: 10px;
  height: 24px;
}
/* line 35, ../sass/_main.scss */
.section_3 .top .hove {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
/* line 40, ../sass/_main.scss */
.section_3 .phone-adv {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 614px;
}
/* line 46, ../sass/_main.scss */
.section_3 .phone-adv img {
  width: 234px;
  height: 300px;
}
/* line 51, ../sass/_main.scss */
.section_3 .list-goods {
  display: none;
  float: right;
  width: 992px;
}
/* line 55, ../sass/_main.scss */
.section_3 .list-goods li:nth-child(-n+4) {
  margin-bottom: 14px;
}
/* line 58, ../sass/_main.scss */
.section_3 .list-goods li {
  width: 234px;
  height: 300px;
  padding: 20px 0;
  background: #fff;
  float: left;
  margin-left: 14px;
  text-align: center;
  font-size: 14px;
}
/* line 68, ../sass/_main.scss */
.section_3 .list-goods li {
  transition: 0.3s;
}
/* line 71, ../sass/_main.scss */
.section_3 .list-goods li:hover {
  transform: translateY(-2px);
  box-shadow: 0 -2px 5px 1px #ccc;
}
/* line 75, ../sass/_main.scss */
.section_3 .list-goods a {
  text-decoration: none !important;
  display: block;
}
/* line 79, ../sass/_main.scss */
.section_3 .list-goods img {
  width: 160px;
  height: 160px;
  margin: 0 37px 21px;
}
/* line 84, ../sass/_main.scss */
.section_3 .list-goods h3 {
  color: #333;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 89, ../sass/_main.scss */
.section_3 .list-goods .title {
  margin-bottom: 16px;
  color: #b0b0b0;
}
/* line 93, ../sass/_main.scss */
.section_3 .list-goods .xianjia {
  color: #fa6509;
}
/* line 96, ../sass/_main.scss */
.section_3 .list-goods .yuanjia {
  text-decoration: line-through;
  color: #b0b0b0;
}
/* line 101, ../sass/_main.scss */
.section_3 .last {
  width: 234px;
  height: 300px;
  float: left;
  margin-left: 14px;
  position: relative;
  padding: 0;
  background: #f5f5f5;
}
/* line 109, ../sass/_main.scss */
.section_3 .last a {
  height: 143px;
  background: #fff;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
/* line 116, ../sass/_main.scss */
.section_3 .last a:first-child {
  margin-bottom: 14px;
}
/* line 119, ../sass/_main.scss */
.section_3 .last .small-list {
  display: flex;
  height: 130px;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
}
/* line 126, ../sass/_main.scss */
.section_3 .last img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30px;
  right: 0px;
}
/* line 133, ../sass/_main.scss */
.section_3 .last div {
  width: 100px;
  height: 20px;
}
/* line 137, ../sass/_main.scss */
.section_3 .last .stitle {
  color: #333;
  margin-bottom: 20px;
}
/* line 142, ../sass/_main.scss */
.section_3 .last .iconfont {
  font-size: 60px;
  color: #ff6700;
  position: absolute;
  bottom: 40px;
  right: 30px;
}
/* line 149, ../sass/_main.scss */
.section_3 .last .more {
  color: #333;
  font-size: 18px;
  padding-left: 20px;
}
/* line 154, ../sass/_main.scss */
.section_3 .last small {
  color: #b0b0b0;
  display: block;
  text-align: left;
  padding-left: 5px;
  margin-top: 15px;
  font-size: 12px;
}

/* line 164, ../sass/_main.scss */
.show {
  display: block !important;
}

/* line 1, ../sass/_footer.scss */
#footer {
  height: 272px;
}
/* line 4, ../sass/_footer.scss */
#footer .foot {
  margin: 0 auto;
  width: 1226px;
}
/* line 8, ../sass/_footer.scss */
#footer .screw {
  padding: 27px 0;
  border-bottom: 1px solid #b0b0b0;
}
/* line 11, ../sass/_footer.scss */
#footer .screw a:hover {
  color: #ff6700;
}
/* line 13, ../sass/_footer.scss */
#footer .screw a:hover .iconfont {
  color: #ff6700;
}
/* line 17, ../sass/_footer.scss */
#footer .screw a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}
/* line 23, ../sass/_footer.scss */
#footer .screw .iconfont {
  font-size: 24px;
  color: #333;
  transition: 0.3s;
}
/* line 28, ../sass/_footer.scss */
#footer .screw li {
  float: left;
  width: 20%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-right: 1px solid #b0b0b0;
}
/* line 36, ../sass/_footer.scss */
#footer .screw li:last-child {
  border: 0;
}
/* line 40, ../sass/_footer.scss */
#footer .helper {
  padding: 40px 0;
}
/* line 42, ../sass/_footer.scss */
#footer .helper ul {
  float: left;
  width: 160px;
  font-size: 12px;
  color: #333;
}
/* line 48, ../sass/_footer.scss */
#footer .helper ul a:hover {
  color: #ff6700;
}
/* line 52, ../sass/_footer.scss */
#footer .helper a {
  color: #757575;
  text-decoration: none;
  transition: 0.3s;
}
/* line 57, ../sass/_footer.scss */
#footer .helper li:first-child {
  margin-top: 30px;
}
/* line 60, ../sass/_footer.scss */
#footer .helper li {
  height: 18px;
  margin: 5px 0;
}
/* line 65, ../sass/_footer.scss */
#footer .customer-service {
  float: right;
  height: 112px;
  width: 251px;
  border-left: 1px solid #b0b0b0;
  text-align: center;
}
/* line 71, ../sass/_footer.scss */
#footer .customer-service h3 {
  font-size: 22px;
  color: #ff6700;
}
/* line 75, ../sass/_footer.scss */
#footer .customer-service p {
  font-size: 12px;
  color: #616161;
  margin-top: 5px;
}
/* line 80, ../sass/_footer.scss */
#footer .customer-service a {
  width: 120px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #ff6700;
  border: 1px solid #ff6700;
  font-size: 12px;
  margin: 20px auto;
  display: block;
}
/* line 91, ../sass/_footer.scss */
#footer .customer-service a:hover {
  color: #fff;
  background: #ff6700;
}

/* line 98, ../sass/_footer.scss */
#pageFoot {
  height: 250px;
  background: #fafafa;
  padding: 30px 0;
}
/* line 103, ../sass/_footer.scss */
#pageFoot .content {
  width: 1226px;
  margin: 0 auto;
}
/* line 107, ../sass/_footer.scss */
#pageFoot .logo {
  position: absolute;
  background: #ff6700;
  height: 57px;
  height: 57px;
}
/* line 113, ../sass/_footer.scss */
#pageFoot span {
  font-size: 12px;
}
/* line 116, ../sass/_footer.scss */
#pageFoot a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #868686;
  font-size: 12px;
  text-decoration: none;
}
/* line 122, ../sass/_footer.scss */
#pageFoot a:hover {
  color: #ff6700;
}
/* line 125, ../sass/_footer.scss */
#pageFoot p {
  margin-left: 60px;
  font-size: 12px;
  color: #868686;
}
/* line 130, ../sass/_footer.scss */
#pageFoot img {
  height: 28px;
}
/* line 133, ../sass/_footer.scss */
#pageFoot .wangzhan {
  margin-left: 60px;
}
/* line 136, ../sass/_footer.scss */
#pageFoot .tanshuo {
  height: 20px;
  width: 267px;
  font-size: 14px;
  background: url(../images/fashao.png) no-repeat;
  margin: 50px auto 0;
}

/* line 1, ../sass/_section_8.scss */
#section_8 {
  height: 357px;
  background: #f5f5f5;
}
/* line 8, ../sass/_section_8.scss */
#section_8 .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 58px;
  align-items: center;
  font-size: 22px;
  font-weight: 100;
}
/* line 16, ../sass/_section_8.scss */
#section_8 .top a {
  text-decoration: none;
}
/* line 19, ../sass/_section_8.scss */
#section_8 .top .lookall {
  font-size: 18px;
  color: #b0b0b0;
  height: 30px;
  line-height: 30px;
}
/* line 25, ../sass/_section_8.scss */
#section_8 .top .lookall:hover {
  color: #ff6700;
  transition: 0.2s;
}
/* line 30, ../sass/_section_8.scss */
#section_8 ul {
  height: 285px;
}
/* line 34, ../sass/_section_8.scss */
#section_8 li {
  width: 296px;
  height: 285px;
  margin-left: 14px;
  float: left;
  position: relative;
  transition: 0.3s;
  background: #fff;
}
/* line 42, ../sass/_section_8.scss */
#section_8 li img {
  width: 100%;
  height: 180px;
}
/* line 46, ../sass/_section_8.scss */
#section_8 li .iconfont {
  position: absolute;
  top: 140px;
  left: 20px;
  border: 2px solid #fff;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  width: 30px;
  height: 20px;
  transition: 0.3s;
}
/* line 59, ../sass/_section_8.scss */
#section_8 li:first-child {
  margin-left: 0;
}
/* line 62, ../sass/_section_8.scss */
#section_8 li:hover {
  transform: translateY(-2px);
  box-shadow: 0 -2px 5px 1px #ccc;
}
/* line 63, ../sass/_section_8.scss */
#section_8 li:hover .iconfont {
  color: #ff6700;
  border: 2px solid #ff6700;
}
/* line 70, ../sass/_section_8.scss */
#section_8 p {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  text-align: center;
}

/* line 1, ../sass/_stairs.scss */
#stairs {
  position: fixed;
  right: 10px;
  top: calc(50% - 135px);
  cursor: pointer;
  border: 1px solid #ccc;
}
/* line 7, ../sass/_stairs.scss */
#stairs li {
  width: 40px;
  height: 30px;
  border-top: 1px solid #ccc;
  background: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  transition: 0.3s;
  color: #333;
}
/* line 17, ../sass/_stairs.scss */
#stairs li:first-child {
  border: 0;
}
/* line 20, ../sass/_stairs.scss */
#stairs li:nth-child(-n+7):hover {
  background: #ff6700;
  color: #fff;
}
/* line 24, ../sass/_stairs.scss */
#stairs li:last-child {
  color: #ff6700;
}
/* line 28, ../sass/_stairs.scss */
#stairs .orange {
  background: #ff6700;
  color: #fff;
}

/* line 42, ../sass/index1.scss */
* {
  box-sizing: border-box;
}

/* line 46, ../sass/index1.scss */
.clear::after {
  content: ' ';
  display: block;
  overflow: hidden;
  height: 0;
  visibility: hidden;
  clear: both;
}
